.completeBody{
    background-color: #E6E6E6;
    background-image: linear-gradient( #F2F2F2,#E6E6E6); /* Standard syntax (must be last) */
    height:100%;
    width: 100%;
}
/* ---------------------Element Header Coach--------------------- */
.HeaderContainer{
    height: 60px;
}

.coachBlock{
    display: flex;
    flex-direction: row;
    width: 30vh;
    justify-content: space-around;
    
}
.purpleLine{
    background-color: #632467;
    height: 10px;
}

.coachInfo{
    color: #632467;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #632467;
    margin-top: 20px;
}

.positionCoach{
    font-size: 14px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-style: italic;
}

.nameCoach{
    font-size: 16px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.imagemHeaderCoach{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: 3px solid #632467;
    margin-top: 10px;
    margin-left: 30px;
}

/* ---------------------Element HourBox Coach--------------------- */
.thisHourBox{
    height: 60px;
    width: 100%;
    background-color: #ffffff;
}

.hourContainer{
    height: 30px;
    width: 60%;
    font-size: 28px;
    font-family: sans-serif, Bebas Neue;
    font-weight: bolder;
    font-stretch: extra-condensed;
    letter-spacing: 0.05mm;
    color:#632467;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coacheeContainerHourBox{

}
/* ---------------------Element Coachee Coach--------------------- */
.fotoCoachee{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: 3px solid #632467;
    margin-top: 10px;
    margin-left: 30px;
}


.coacheeContainer{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.grayLine{
    background-color: #707070;
    height: 0.1mm;
    width: 70%;
    align-self: flex-start;
    position: absolute;
    margin-left: 100px;
    opacity: 40%;
}

.writtenInfos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 40%;
    margin: auto;
}

.coacheeName{
    font-size: 15px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    color:#231F20;
    font-weight: bold;
    text-transform: uppercase;
}

.coacheeExercise{
    font-size: 13px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
}

.coacheeIcons{
    size: 7mm;
    height: 7mm;
}

.livelOneStyled{
    display: block;
    line-height: 3mm;
    height: 20%;
}

.livelStyled{
    font-size: 9px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: 800;
    color:#36AAFF;
}

.OneStyled{
    font-size: 10px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: 900;
    color:#36AAFF;
}

/* ---------------------Element ToggleSwitch Coach--------------------- */