.HeaderContainer{
    height: 15%
}

.orangeLine{
    background-color: #EF7D00;
    height: 10%
}

.headerContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.imagemHeader{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: 3px solid #EF7D00
}

.name{
    color: #EF7D00;
    text-transform: uppercase;
}

.level{
    height: 60%;
    width: auto;
}