html, body, #root{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'UniversLT';
}

@font-face {
    font-family: 'UniversLT';
    src: local('FiraSans'), url(./fonts/UniversLT/Univers\ LT\ 45\ Light.ttf) format('truetype');
}