.ProfileContainer{
    height: 80%;
    width: 100%;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/* ---------------------Element Header Profile--------------------- */

.headerContainer{
    height: 20%
}

.orangeLine{
    background-color: #EF7D00;
    height: 10%
}

.headerContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.imagemHeader{
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    border: 3px solid #EF7D00
}

.levelEscala{
    height: 8vh;
    width: auto;
}

/* ---------------------Element ExitButton Profile--------------------- */
.exitButtonContainer{
    margin-top: 2%;
    height: 5%;
    /* position: relative; */
    display: flex;
    justify-content: center;
}

.exitButtonContainer h1{
    position: absolute;
    font-size: 12px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
    color: #632467;
}


/* ---------------------Element Choice Profile--------------------- */
.choices {
    height: 6%;
}

.grayLine{
    background-color:  #E6E6E6;
    height: 20%
}

.FlexContainer {
    display: flex;
    flex-direction:row;
    list-style: none;
    width: 100%;
    background-color: #E6E6E6;
    justify-content: space-evenly;
    padding-inline-start: 0px;
    height: 80%;
}


/* ---------------------Element Results Profile--------------------- */
.ResultsContainer{
    height: 100%;
    width: 100%;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white, #F2F2F2); /* Standard syntax (must be last) */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.resultsRow{
    width: 100%;
    height: 50%;
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    align-items: center;
    justify-content: space-evenly;
}

.ResultsBox{
    border: 0.3mm solid #C6BBCE;
    background: #F2F2F2;
    border-radius: 3px;
    height: 90%;
    width: 40%;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.mainInfo{
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.footerInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} 

.footerTitle{
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    color: #532166;
    font-weight: bold;
    font-size: 14px;
}

.footerDescription{
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    color: #676767;
    font-size: 9px;
    max-width: 90%;
}

.boxHeader{   
    box-sizing: border-box;
}

.resultsCircle{
    height: 10%;
    position: absolute;
}

.circleMove{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.barContainer{
    max-width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
    transform: rotate(180deg);
    position: absolute;
}

.columnBar{
    width: 80%;
    background: #532166;
    z-index: -1; 
    border-top: 10px solid #532166;
    border-right: 10px solid #532166;
    position: absolute;
}

.resultBars{
    display: flex;
    flex-direction: row;
    flex:5;
    
    justify-content: space-around;
}

.topicMove{
    margin-top: 40px;
}

.currentAmount{
    text-align: center;
    color: white;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-size: 10px;
    font-weight: 900;
    z-index: 10; 
    margin-left: 45px;
    margin-top: -25px;
}

.lastAmount{
    width: 35px;

    color: white;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-size: 10px;
    font-weight: 900;
    z-index: 10; 
    margin-left: 8px;
    margin-top: -14px;
}

.percentMove{
    
    font-family: sans-serif, Univers LT;
    font-size: 12.5px;
    font-weight: bolder;

    float: right;
    margin-right: -39px;
    margin-top: 25px;
    
}

.months{
    width: 70%;
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.thisMonthStyle{
    text-transform: uppercase;
    color: #532166;
    font-family: sans-serif, Univers LT;
    /* font-stretch: condensed; */
    font-size: 10px;
    font-weight: 900;
    /* position: absolute; */
    /* margin-top: 40%;
    margin-left: 23%; */
}

.lastMonthStyle{
    text-transform: uppercase;
    color: #C6BBCE;
    font-family: sans-serif, Univers LT;
    /* font-stretch: condensed; */
    font-size: 10px;
    font-weight: 900;
    /* position: absolute;
    margin-top: 40%;
    margin-left: 9%; */
}

/* ---------------------Element MonthlyResult Profile--------------------- */
.BodyResultContainer{
    height: 100%;
    width: 100%;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white, #F2F2F2); /* Standard syntax (must be last) */
    display: flex;
}

.imagesContainer{
    /* position: relative; */
    width: 100%;
}

.imagesContainer a{
    /* position: relative; */
    
    font-size: 10px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    color: #676767;
    font-weight: bold;
}

.bodyData{
    width: 100%;
    /* height: 80%; */
    margin-left: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyMeasures{
    z-index:2;
}

.mainData{

    width: 100%;
    height: 50%;
    display: flex;
    
    /* margin-top: 30px; */

}

.BodyResultClass{
    height: 45%;
    width: auto;
    /* margin-left: 25%;
    margin-top: 4%; */
}

.valueStyled{
    font-size: 14px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    color: #676767;
    font-weight: bold;
}


.valueSubtitles{
    font-size: 17px;
    font-family: sans-serif, Univers LT;
    /* font-stretch: condensed; */
    color: #532166;
    font-weight: bold;
    margin-right: -10px;
    margin-bottom: 4px;
}

.bodyPart{
    margin-top: 2px;
}

.leftSide{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LeftList{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
    color: #676767;
    
    z-index: 10;
    margin-top: 40px;
    
}

.LeftList li + li{
    margin-top: 15px;
}

.leftIcons{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
}

.RightSide{

    width: 50%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    /* padding-left: 5px; */
}

.RightList{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    font-family: sans-serif, Univers LT;
    /* font-stretch: condensed; */
    font-weight: bold;
    color: #676767;
    padding-right: 50px;
    /* margin-left: -8%; */
    
    /* position: relative; */
    
    /* bottom: 212px;
    left: 15%; */
}

.RightList li + li{
    margin-top: 28px;
}


.rightIcons{
    display: flex;
    width: 100%;
    /* height: 25%; */
    align-items: center;
    margin-top: 15px;
    box-sizing: border-box;
}

.timeSubtitles{
    font-size: 10px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    color: #676767;
    margin-left: 12px;
}

.iconList{
    /* height: auto; */
    /* width: 20%; */
    margin-right: 15px;
}

.thePurples{
    z-index:2;
    position: relative;
    width: 200px;
    left: 8px;

    bottom: -65px;
    
}


.bigPurple{
    position: relative;
    bottom: -109px;
    left: 25px;
    
    z-index: 10;
    height: 200px;
    width: 30px;
}

.littlePurple{
    position: relative;

    top: -195px;
    left: -4px;
    z-index: 10;
    height: 30px;
    width: 2px;
}

.purpleScore{

    font-size: 16px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    color: #532166;
    position: relative;
    top: 112px;
    left: 30px;
}
