.ProfileContainer{
    height: 69%;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/* ---------------------Element Header Profile--------------------- */

.headerContainer{
    height: 20%
}

.orangeLine{
    background-color: #EF7D00;
    height: 10%
}

.headerContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.imagemHeader{
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    border: 3px solid #EF7D00
}

.levelEscala{
    height: 8vh;
    width: auto;
}

.buttonProfile{
}

/* ---------------------Element ExitButton Profile--------------------- */
.exitButtonContainer{
    height: 5%;
    position: relative;
    display: flex;
    justify-content: center;
}

.exitButtonContainer h1{
    position: absolute;
    font-size: 12px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
    color: #632467;
}


/* ---------------------Element Choice Profile--------------------- */
.choices {
    height: 6%;
}

.grayLine{
    background-color:  #E6E6E6;
    height: 20%
}

.FlexContainer {
    display: flex;
    flex-direction:row;
    list-style: none;
    width: 100%;
    background-color: #E6E6E6;
    justify-content: space-between;
    padding-inline-start: 0px;
    justify-content: flex-end;
    height: 80%;
}



/* ---------------------Element Results Profile--------------------- */
.ResultsContainer{
    height: 100%;
    width: 100%;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white, #F2F2F2); /* Standard syntax (must be last) */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.ResultsContainer ul{
    width: 100%;
    height: 70%;
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    align-items: center;
    justify-content: space-evenly;
}

.ResultsContainer ul li{
    border: 0.3mm solid #C6BBCE;
    background: #F2F2F2;
    border-radius: 3px;
    height: 105%;
    width: 40%;
}

.ResultsContainer ul li strong{
    text-align: center;
}

.ResultsForça strong{
    color: #532166;
    font-size: 17px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
}

.ResultsForça a{
    color: #676767;
    font-size: 9px;
    font-family: sans-serif, Univers LT;

}

.ResultsCardio strong{
    color: #532166;
    font-size: 17px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
}

.ResultsCardio a{ 
    color: #676767;
    font-size: 9px;
    font-family: sans-serif, Univers LT;
}

.ResultsPeso strong{
    color: #532166;
    font-size: 17px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
}

.ResultsGordura strong{
    color: #532166;
    font-size: 17px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
}

.resultsCircle{
    height: 10%;
}


/* ---------------------Element MonthResult Profile--------------------- */
.BodyResultContainer{
    height: 100%;
    width: 100%;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white, #F2F2F2); /* Standard syntax (must be last) */
    display: flex;
}

.BodyResultContainer img{
    height: 50%;
    width: auto;
    margin-left: 40%;
    margin-top: 4%;
}