.bodyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #632467;
    height: 100%;
}

.LoginTitle{
    color: #ffff;
    font-size: 35px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
}

.titleCoachOrCoachee{
    margin: 0;
    color: #fff;
}

.inputsContainer{
    display: flex;
    flex-direction: column;
    height: 15%;
    background-color: #632467;
    opacity: 0.7;
    margin-bottom: 25px;
}

.inputsContainer div + div{
    margin-top: 20px;
}

.matriculaInput{
    height: 50%;
    border-bottom: 1px solid white !important;
    color: white;

}
.senhaInput{
    height: 50%;
    border-bottom: 1px solid white !important;
}

.MuiInputBase-input{
    color: #fff !important;
}

.MuiInput-underline::after{
    border-bottom-color: #fff !important;
}

.matriculaInput label, .senhaInput label{
    color: #ffff !important;
    font-size: 20px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
}

.loginClick{
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e7db18;
    border-radius: 10px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    color: #632467;
    font-weight: bolder;
}

.link{
    COLOR: WHITE;
    opacity: 0.6
}

