.Modal1{
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal1 .ContainerModal{
    position: fixed;
    background-color: rgb(248, 242, 242);
    color: rgb(0, 0, 0);
    border: 1px solid #eee;
    border-radius: 15px;
    width: 85%;
    /* min-width: fit-content; */
    height: 70%;
    /* min-height: fit-content; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding:10px
}

.Modal1 .ContainerModal .ClosePopUpRegister {
    color: #632467; 
    border-radius: 50%;
    position: absolute; 
    top: -2px !important; 
    right: 0px!important; 
    background-color: white;
    top: -2px; 
    right: 0px;

    cursor: pointer;
}

.Modal1 .ContainerModal .titleResultadoRegitra {
    font-family: sans-serif;
    font-size: 30px;
}

.Modal1 .ContainerModal .Form_treino {
    text-align: center;
}

.Modal1 .ContainerModal .Form_treino div{
    display: flex;
    justify-content:flex-end;
    margin: 3px;
}
.Modal1 .ContainerModal .Form_treino div input {
    border: 1px solid ;
    border-radius: 4px;
    margin-left: 9px;
}

.Modal1 .ContainerModal .button{
    font-family: sans-serif;
    font:bolder;
}

.titleResultadoRegitra{

    margin-top: -20px;
    margin-bottom: 20px;
}

.Form_treino{
    padding: 0 20px;
    width: 85%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}

.Form_treino div{
    width:100%;
}

.dadosGerais{
    display: flex;
    justify-content: center !important;
}


.pesoAltura{
    display: flex;
    justify-content: center !important;
    margin: 15px 0;
}

.pesoAltura div input{
    width: 60px;
}

.exercicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercicios div input{
    width: 50px;
}

.medidas{
    display: flex;
    justify-content: center;
}

.medidasLeftSide, .medidasRightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.medidas div input{
    width: 40px;
}

.button{
    width: 80%;

    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    outline: none;
}

.button:hover{
    opacity: 0.8;
}

input{
    height: 20px;
    outline: none;
}