.completeBody{
    background-color: #E6E6E6;
    background-image: linear-gradient( #F2F2F2,#E6E6E6); /* Standard syntax (must be last) */
    min-height: 100vh; 
    height:fit-content;
    width: 100%;
}
/* ---------------------Element Header Coach--------------------- */

.headerContainer{
    background-color: #E6E6E6;
    height: 13vh;
}

.eachContainer{
    margin-bottom: 10px;
}

.coachBlock{
    display: flex;
}
.purpleLine{
    background-color: #632467;
    height: 10px;
}

.coachInfo{
    color: #632467;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #632467;
    margin-top: 20px;
}

.positionCoach{
    font-size: 14px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-style: italic;
}

.nameCoach{
    font-size: 16px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.imagemHeaderCoach{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: 3px solid #632467;
    margin-top: 10px;
    margin-left: 5vw;
    margin-right: 1vw;
}

/* ---------------------Element HourBox Coach--------------------- */
.eachContainer{
    margin-bottom:2vw;
}
.HourBoxIsOn{
    width: 100%;
    background-color: #ffffff;
}

.HourBoxIsOff{
    width: 100%;
    background-color: #FF7878;
}

.HourAndToggle{
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 6vw; 

}

.whatTimeIsIt{
    margin-left:4vw;/* No telefone é 4 e no PC é 1 */

    font-size: 25px;
    font-family: sans-serif, Bebas Neue;
    font-weight: bolder;
    font-stretch: extra-condensed;
    letter-spacing: 0.05mm;
}
/* ---------------------Element Coachee Coach--------------------- */

/*  As duas coisas abaixo são pra deixar a beirada clicavel
.swipeable-list-item__content{
    z-index: 11 !important;
}  */

/* Container pai do SwipeLeft */
.swipeable-list-item__content-left{
    z-index: 0 !important;
}
 
.swipeLeft{
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
}

.fistIconSwipeRigth{
    background: #4a1768;
    color: #fff;
    padding: 10px 20px;
}

.swipeRight{
    display: flex;
    justify-content: center;
}
.fistIconSwipeLeft{
    background: #4a1768;
    color: #fff;
    padding: 10px 20px;
    z-index: 10;
    cursor: pointer;
}

.secondIconSwipeLeft{
    background: #e0dbe2;
    color: #4a1768;
    padding: 10px 20px;
    z-index: 10;
    cursor: pointer;
}


.coacheeInfo{
    margin: 0px;
    padding: 0px;
    z-index: 15;
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
/* 
    border-top:0.1mm solid #707070;
    border-top-width: 100%; */
}

.fotoCoachee{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    border: 3px solid #632467;
    margin:4px;
}

.coacheeContainer{
    box-sizing: border-box;

    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 5vw;
    
    border-top: solid 0.1mm rgba(4,1,3,0.2);
}

.writtenInfos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 40%;
    margin: auto;
    margin-left: 10px;
}

.coacheeName{
    font-size: 12px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    color:#231F20;
    font-weight: bold;
    text-transform: uppercase;
}

.coacheeExercise{
    font-size: 11px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
    color: #632467;
}

.coachee_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
    align-items: center;
    font-weight:bolder;
    font-size: large;
    color: #ADB4B5;
}

.coacheeIcons{
    size: 6mm;
    height: 6mm;
    margin-left: 10px;
}

.livelOneStyled{
    display: block;
    line-height: 2mm;
}

.livelStyled{
    font-size: 8px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: 800;
    color:#36AAFF;
}

.OneStyled{
    font-size: 9px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: 900;
    color:#36AAFF;
}

/* ---------------------Element ToggleSwitch Coach--------------------- */

.react-switch{
    border: 1px solid #632467;
}