.info{
    height: 15%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #F2F2F2;
}

.bodyy{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
    background-image: linear-gradient(to bottom, #e6e6e6, rgb(243, 242, 242) );
}

.footer{
    height: 10%;
    background-color:#F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonAdvance{
    width: 40%;
    max-width: 400px;
    height: 50%;
    background-color: #E7DB18;
    border-radius:10px;
    font-size: 16px;
    font-family: sans-serif, Univers LT;
    font-stretch: condensed;
    font-weight: bold;
    color: #632467;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
}

.block {
    max-width: 500px;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 22%;
    width: 75%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
}

.boxbody{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxtitle{
    margin-top: 10%;
    margin-left: 20%;
    color: #632467;
    font-weight: bold;
}

.countinginfo{
    
    margin-left: 20%;
    font-size: 30px;
    font-weight: bold;
}

.counting{
    color: #0ECB8C;
    font-weight: bold;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    height: 80%;
    width: 70%;
    text-align: center;
    font-size: 40px;

}

.playButton{
    height: 20%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlee{
    color: #632467;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.finalization{
    font-family: sans-serif;
    color: rgb(75, 72, 72);
    font-size: 17px;
    font-weight: bold;
}

.time1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(126, 7, 7);
}

.time2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(126, 7, 7);
    margin-bottom: 2px;
}

.timeinfo{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}