.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #632467;
    height: 100%;
    width: 100%;
}

.ForgetTitle{
    color: #ffff;
    font-size: 150%;
}

.formContainer form{
    display: flex;
    flex-direction: column;
}



.forgetClick{
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e7db18;
    border-radius: 10px;
    color: #632467;
    text-decoration: none;
}